#main
  %h1 A propos
  = image_tag "dans-le-dur-logo.png"
  %p.about Dans le Dur est une collection d’images de toute beauté selectionnées par une communauté triée sur le volet pour le plus grand bonheur de tous ! 

#misc
  %h2 Fabriqué avec amour par !
  %ul.team
    %li
      %a{:href => "https://twitter.com/#!/zog_zog"}
        = image_tag "team/zog.gif", :alt => "Zog"
    %li
      %a{:href => "https://twitter.com/#!/lucchaissac"}
        = image_tag "team/luc.gif", :alt => "Luc Chaissac"
    %li
      %a{:href => "http://www.google.fr/webhp?sourceid=chrome-instant&ix=e2&ie=UTF-8&ion=1&nord=1#hl=en&nord=1&q=jean+michel+sancowl&gs_sm=&gs_upl=&ion=1&um=1&ie=UTF-8&tbo=u&tbm=vid&source=og&sa=N&tab=wv&bav=on.2,or.r_gc.r_pw.,cf.osb&fp=d89b037a635c458d&ion=1&biw=1267&bih=702"}
        = image_tag "team/jean.gif", :alt => "Jean-Michel Sancowl"

  %h2 Envie de poster des Dans le Dur ?!
  %p 
    Faites simplement une demande : 
    %a{:href => "mailto:invitation@dansledur.com"} Invitez-moi !