#main
  %h1 A propos
  = image_tag "dans-le-dur-logo.png"
  %p.about Dans le Dur est une collection d’images de toute beauté selectionnées par une communauté triée sur le volet pour le plus grand bonheur de tous ! 

= render partial: 'static/misc'