
%h3 Dans le Dur récents !
%ul.media-mosaic
  - @medias.each do |m|
    %li{class: ['medium'] << m.tag_list}
      = link_to image_tag(m.image.url(:thumb)), medium_path(m)
      
%ul.pagination
  - if @medias.current_page.to_i > 1
    %li.pagination.previous
      = link_to 'prev page', media_path(params.merge(page:  @medias.current_page.to_i - 1))
  - if @medias.current_page.to_i < @medias.total_pages
    %li.pagination.next
      = link_to 'next page', media_path(params.merge(page:  @medias.current_page.to_i + 1))

// %p= link_to "ADD A NEW ASS-KICKING PIC - RITE NOW !", new_medium_path, class: "add-medium" 