body
  width: 900px
  margin: auto
  border: 1px solid #ccc
  padding: 15px 0 15px 15px
  margin-top: 20px
  margin-bottom: 20px
  box-shadow: 10px 10px 5px #888
  font-family: Arial, Helvetica, sans-serif
  
h1
  margin: 0
  font-size: 4em
  text-shadow: #111 1px 1px 1px, #111 -1px 1px 1px, #111 -1px -1px 1px, #111 1px -1px 1px
  a
    text-decoration: none
    color: #fff

.clear
  clear: both

input[type=text]
  border: 1px solid #888
  padding: 4px 5px 5px
  
input[type=submit]
  font-family: Georgia
  border: none
  font-size: 14px
  background-color: #000
  color: #fff
  border: 1px #000 solid
  &:hover
    box-shadow: 2px 2px 5px #000
    background: #DA60C5
    border: 1px #DA60C5 solid
    

a
  color: #111
  &.add-medium
    text-decoration: none
    display: block
    text-align: center
    padding: 10px
    background: black
    color: white
    margin-right: 20px
    &:hover
      box-shadow: 2px 2px 5px #000
      background: #DA60C5
  &.clear-search
    background: white
    color: black
    border: 1px #000 solid
    text-decoration: none
    padding: 2px 6px 3px
    margin-top: 2px
    font-family: Georgia
    font-size: 14px
    &:hover
      box-shadow: 2px 2px 5px #000
      background: black
      color: white

ul
  padding: 0

header
  h1
    float: left
  .login
    float: right
    margin-top: 48px
  border-bottom: 5px solid #555
  margin-bottom: 20px
  margin-right: 20px

  
.medium
  header
    background-color: #000
    margin-right: 20px
    border: none
    padding: 0
    .pagination
      float: right
      li 
        float: left
        list-style-type: none
        margin-right: 10px
        a
          color: white
      &:after
        clear: both
    h2
      font-family: Georgia
      float: left
      margin: 0
      max-width: 726px
      .inner
        font-size: 50px
        float: left
        margin-left: 10px
        padding: 0 10px
        overflow: hidden
        span
          background-color: #FFF

h3
  font-family: Georgia
  padding-bottom: 10px
  border-bottom: 1px solid #000

ul:after,
header:after,
h2:after
  content: "."
  display: block
  height: 0
  clear: both
  visibility: hidden