p
  clear: both

.media-mosaic
  padding: 0
  li
    float: left
    margin-right: 20px
    margin-bottom: 20px
    list-style-type: none
    width: 268px
    height: 200px
    padding: 5px
    border: #999 1px solid
    .title
      font-size: 1em
      font-family: Georgia
      margin: 0 0 5px 0
      padding: 4px 0
      color: #444
      letter-spacing: 1px
      text-transform: uppercase
      height: 37px
      
    .image
      position: relative 
      height: 100px
    a 
      float: left
      text-decoration: underline
      img
        float: left
        margin: auto

    &.trash
      a:after
        font-family: Arial
        font-weight: bold
        font-size: 2em
        content: "TRASH!"
        background: red
        padding: 57px 0px 56px 0px
        width: 268px
        opacity: 0.95
        left: 0
        top: 0
        position: absolute
        text-decoration: overline
        letter-spacing: 29px
        overflow: hidden
        color: black
      
  li:hover
    a:after
      content: none 

.tags
  li
    float: left
    margin-right: 5px
  a
    text-decoration: none
    background: black
    color: white
    padding: 2px
    &:hover
      box-shadow: 2px 2px 5px #000
      background: #DA60C5
      
.medium
  .img
    float: left
  aside
    margin-left: 40px
    float: left
    margin-right: 20px
    li
      list-style-type: none
   